@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import './forms.css';

:root{
    --light-bg-color: #F4F4F4;
    --dark-bg-color: #323232;
    --orange-color: #FB9935;
    --bright-red-color: #FB9935;
    --strong-red-color: #8C0909;

    /* Neutral Colors */
    --white: #ffffff;
    
    
    /* Font Sizes */
    --base-font-size: 1em;
    --base-line-height: 1;

    /* Font Family */
    --primary-font-family: "Poppins", sans-serif;
    --secondary-font-family: "Source Sans Pro", sans-serif;

    /* Component Box Shadowing */
    --box-shadow: 3px 0 10px rgba(0,0,0,0.3)
}

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    background-color:var(--light-bg-color);
    font-family: var(--primary-font-family);
    overflow-y: hidden;
}

/* ****** SIDE NAVIGATION ******/
nav{
    /* position: fixed; */
    background-color: var(--dark-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 100vh;
    box-shadow: var(--box-shadow);
    padding-left: 10px;
}

.nav-wrapper{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

nav img{
    width: 120px;
    margin-left: 37px;
}

nav ul{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 20px;
}

nav ul li{
    padding-top: 15px;
    padding-bottom: 15px;
    /* padding-left: 40px; */
}

nav ul li form{
    display: flex;
    align-items: flex-start;
}

nav form img{
    transform: rotate(180deg);
    margin-right: 11px;
    margin-left: 26px;
}

nav ul a,
nav ul button{
    display: flex;
    align-items: center;
    color: #f4f4f4;
    font-family: 'Source Sans Pro', 'sans-serif';
    font-size: var(--base-font-size);
    font-weight: 400;
    cursor: pointer;
}

nav ul button{
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

nav ul li button:focus{
    outline: none;
}

nav ul a:hover,
nav ul li:hover{
    background-color: #494949;
    border-left: 2px solid var(--orange-color);
}

nav ul a img,
nav ul li img{
    filter: invert(1) brightness(6);
    padding-right: 10px;
    width: 30px;
}

.btn{
    font-family: var(--primary-font-family);
    font-weight: 600;
    border: none;
    font-size: var(--base-font-size) !important;
    border-radius: 5px;
    height: 34px;
    cursor: pointer;
}

.btn-pdf{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    color: var(--dark-bg-color);
    margin: 0 10px 30px;
}

.btn-pdf img{
    width: 26px;
    margin: 0;
    padding-right: 5px;
}

.btn-pdf:hover{
    background-color: #FB9935;
    color: var(--dark-bg-color);
}

.container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    overflow: hidden;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

/* ****** HEADER ******/

header{
    width: 100%;
    padding-top: 10px;
}

header .top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2{
    font-family: var(--secondary-font-family);
    color: var(--dark-bg-color);
}

/* ****** PROFILE ICON ******/

.profile{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 3rem;
    /* margin-right: 40px; */
}

.profile .avatar{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.profile .avatar img{
    background-color: #fff;
    width: 30px;
    height: fit-content;
    padding: 1px 3px;
    border-radius: 25px;
    margin: 0 7px;
    border: 1px solid #49494976;
    box-shadow: 1px 0 5px rgba(0,0,0,0.1);
}

.profile .avatar span{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.profile .avatar:hover{
    color: #FB9935;
}

.avatar span small{
    font-size: var(--base-font-size*0.6);
    font-family: var(--secondary-font-family);
}

.avatar small.accountType{
    color: #494949;
}

.profile-overview{
    display: none;
}

.profile-overview.active{
    background-color: #fff;
    position: absolute;
    top: 60px;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 9;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

/* ****** DATE ******/

.date-border-wrap, 
.date{
    display: flex;
}

.date p{
    padding: 2px;
    font-family: var(--secondary-font-family);
}

.date-border-wrap{
    width: fit-content;
    border: 0.5px solid #8a8a8a;
    padding: 6px 5px;
    border-radius: 5px;
}

.date-border-wrap button{
    border: none;
    padding: 0 10px;
    cursor: pointer;
    background-color: transparent;
}

.date-border-wrap button img{
    width: 20px;
}

.date-border-wrap button:focus{
    outline: none;
}

.date-border-wrap button:hover{
    color: #8a8a8a;
}

/* ****** GRAPHS ******/
.center {
    display: flex;
}

/* ****** RESPONDERS GRAPHS ******/

.left{
    display: flex;
    flex-direction: column;
}

.left .top{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.responders-data{
    display: flex;
}

.top .title{
    margin: 20px 0;
    color: #323232;
}

.square{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    color: var(--dark-bg-color);
    width: 17vw;
    height: 20vh;
    margin: 15px;
    border-radius: 10px;
    padding: 15px 0;
}

.square h3{
    position: absolute;
    top: 52%;
}

/* ****** ACCOUNTS GRAPHS ******/

.bottom canvas{
    background-color: #fff;
    border-radius: 10px;
    height: 260px;
    max-width: 850px;
    margin: 0 30px;
}

/* ****** REQUESTS GRAPHS ******/

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right .title{
    color: #323232;
    margin: 30px 0;
}

.rectangle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 65vw;
    max-width: 350px;
    height: 11vh;
    border-radius: 10px;
    margin: 20px 15px;
}

.rectangle .content{
    color: #323232;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.rectangle i{
    margin-right: 5px;
}

/* ****** FOOTER ******/

footer{
    font-size: 12px;
    color: #8a8a8a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin: 10px;
    z-index: -1;
}

/* ****** MAP ******/

#map {
    height: 100vh;
    width: 100vw;
  }

 /* ****** ACCOUNTS ******/ 

 .tab{
    background-color: #fff;
    display: flex;
    padding: 8px 12px;
    border-radius: 5px;margin-right: 12px;
 }

 .tab h4{
    font-weight: 400;
 }

 .tab:hover{    
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    cursor: pointer;
 }

 .tab.active{    
    box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
    /* background-color: #8a8a8a05; */
 }

 .users-tables{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
 }

.tables{
    background-color: #fff;
    border-radius: 10px;
    width: 88vw;
    min-width: 445px;
    height: 400px;
    margin: auto;
    overflow: auto;
    padding: 10px;
}

table{
    display: none;
    width: 800px;
    min-width: 500px;
    margin: auto;
}

table.show{
    display:inline-table;
}

thead{
    height: 40px;
}

th, td{
    text-align: center;
}

tbody tr{
    cursor: pointer;
}
/* 
.view{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88vw;
    min-width: 445px;
    height: 300px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
} */

/* .view h4{
    color: #8a8a8a;
    font-weight: 400;
}

.view .top img{
    width: 50px;
} */

/* .top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.top span{
    color: #323232;
} */

.middle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    margin: 20px 0;
    width: 100%;
}

.middle div{
    padding: 0 10px;
}

.bottom{
    display: flex;
    flex-direction: column;
}


.bottom h4{
    font-size: 15px;
    font-family: 'Poppins', 'sans-serif';
    color: #323232;
    font-weight: 600;
}


.bottom .statusCounts{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    color: #494949;
}



