@import "flatpickr/dist/flatpickr.min.css";

:root{
    --light-bg-color: #F4F4F4;
    --dark-bg-color: #323232;
    --orange-color: #FB9935;
    --bright-red-color: #FB9935;
    --strong-red-color: #8C0909;

    /* Neutral Colors */
    --white: #ffffff;
    
    /* Font Sizes */
    --base-font-size: 1em;
    --base-line-height: 1;

    /* Font Family */
    --primary-font-family: "Poppins", sans-serif;
    --secondary-font-family: "Source Sans Pro", sans-serif;

    /* Component Box Shadowing */
    --box-shadow: 0 0 4px rgba(0,0,0,0.1)
}

/* SIDE NAV */
.sidenav{
    position: relative;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #ffffff;
    box-shadow: var(--box-shadow);
    border-right: 1px solid #32323213;
    .logo {
        width: 100%;
        margin-left: 35px;
        img{
            height: 20px;
            margin: 18px 0;
        }
}
    button{
        border: none;
        background-color: transparent;
    }
    ul{
        width: 100%;
        padding-top: 20px;
        a {
            font-family: var(--secondary-font-family);
            color: #323232d2;
            li {
                display: flex;
                align-items: center;
                padding: 5px 15px;
                img{
                    height: 25px;
                    margin-right: 10px;
                }
            &:hover{
                background-color: #FB993520;
            }
            }
        }
    }

    .btn-pdf{
        font-family: var(--secondary-font-family);
        font-weight: 500;
        font-size: 14px;
        position: absolute;
        bottom: 0;
        left: 15px;
        width: 80%;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
        padding: 10px 12px;

        background-color: #FB993550;
        color: #323232;
        border-radius: 5px;
        border: 1px solid #3232322a;
        box-shadow: 0 0 6px rgba(0,0,0,0.1);
        img{
            height: 20px;
            margin-right: 10px;
        }

        &:hover{
            font-weight: 600;
            cursor: pointer;
        }
    }
}

/* MAIN CONTENT */
section.wrapper{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows:60px 100%;
    grid-template-areas: 
    "header1 header2"
    "dashboard statistics";

    .header1{
        grid-area: header1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        height: 100%;
        border-bottom: 1px solid #32323213;
        
        h2{
            font-family: var(--primary-font-family);
            font-size: 20px;
            color: #323232;
        }
    }

    .dashboard{
        background-image: linear-gradient(to right,#f8f8f842, #fff);

        grid-area: dashboard;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:8% 36% 36%;
        padding: 0 30px;
        border-top: 1px solid #32323213;

        .doughut-graphs{
            display: grid;
            grid-template-columns: repeat(3, 31%);
            grid-template-rows: 95%;

            gap: 20px;
            margin-bottom: 20px;
            .square{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                background-color: #fff;
                box-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
                border: 1px solid #32323213;
                border-radius: 5px;

                transition: 200ms ease-in-out;
                h3{
                    position: absolute;
                    font-size: 15px;
                    top: 53%;
                    left: 49%;
                }
                &:hover{
                    transform: scale(1.03);
                    box-shadow: 0 0 6px #ffe6cd;
                }
            }
        }

        canvas#barChart{
            background-color: #fff;
            border: 1px solid #32323213;
            border-radius: 5px;
            padding: 10px;
        }
    }

    h3{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-family: var(--secondary-font-family);
        font-weight: 400;
        font-size: 16px;
        color: #323232;
        i{
            font-size: 12px;
            color: #32323250;
            &:hover{
                cursor: help;
            }
        }
    }


    .header2{
        position: relative;
        border-bottom: 1px solid #32323213;
        grid-area: header2;

        display: flex;
        align-items: center;
        justify-content: end;
        width: 100%;
        .avatar{
            display: flex;
            padding-right: 20px;
            span{
                padding-right: 10px;
                font-family: var(--secondary-font-family);
                text-align: right;
                small.accountType{
                    color: #32323280;
                }
            }
            &:hover{
                cursor: pointer;
            }
        }
        .profile{
            position: absolute;
            top: 70px;
            right: 30px;
            font-family: var(--secondary-font-family);
            visibility: hidden;
            z-index: 3;
            &.show{
                visibility: initial;
                background-color: #fff;
                height: fit-content;
                width: fit-content;
                padding: 5%;
                border-radius: 4px;
                box-shadow: 0 0 15px rgba(0,0,0,0.1);

                button{
                    border: none;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin-top: 20px;
                    font-size: 13px;
                    cursor: pointer;
                    img{
                        width: 20px;
                    }
                }
            }
            
        }
     
    }

    .right{
        grid-area: statistics;
        padding-top: 5%;

        .locationFilter{
            display: grid;
            grid-template-columns: 1fr 1fr;            
            width: 90%;
            button{
                width: fit-content;
                justify-self: end;
                font-family: var(--secondary-font-family);
                font-weight: 500;
                font-size: 14px;
                margin-bottom: 25px;
                padding: 10px 12px;

                background-color: #FB993530;
                color: #323232;
                border-radius: 5px;
                border: none;
                i{
                    color: #FB993550;
                    margin-right: 5px;
                }
            }
        }

        .statistics{
            display: grid;
            grid-template-columns: 90%;
            grid-template-rows: repeat(5, 25%);

            margin-top: 5%;

            .rectangle{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                border: 1px solid #32323213;
                border-radius: 5px;
                margin-bottom: 20px;
                padding: 10px 20px;
                transition: 200ms ease-in-out;

                &:hover{
                    transform: scale(1.03);
                    box-shadow: 0 0 6px #ffe6cd;
                }

                .content{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    margin-bottom: 10px;
                    width: 100%;

                    p{
                        text-overflow: unset;
                        white-space: nowrap;
                    }
                }
                .bar{
                    position: relative;
                    height: 10px;
                    width: 100%;
                    background-color: #32323213;
                    border-radius: 25px;
                    .progress1, .progress2, .progress3, .progress4, .progress5{
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        background-color: #ffcb98;
                        width: 0%;
                        transition: width 200ms ease-in-out;
                        border-radius: 25px;
                    }
                }
            }
        }
    }
}

// MAP
#map{
    width: 100vw;
    height: 100vh;
}

// ACCOUNTS 
.tables{
        background-image: linear-gradient(to right,#f8f8f842, #fff);
        grid-area: dashboard;
        display: grid;
        grid-template-columns: 100%;
        border-top: 1px solid #32323213;
        grid-template-rows: 60px 1fr;
        row-gap: 0;
        padding-left: 30px;
        width: 93%;
    .horizontal-tabs{
        display: flex;
        align-items: center;
        margin-top: 24px;
        margin-left: 20px;
        .tab{
            background-color: #fff;
            border: 1px solid #32323213;
            padding: 10px;
            margin: 0 10px;
            border-radius: 5px 5px 0 0;
            transition: 300ms ease;
            h4{
                font-family: var(--secondary-font-family);
                font-size: 12px;
                font-weight: 400;
                color: #323232;
            }
            &:hover{
                cursor: pointer;
                transform: scale(1.04);
                box-shadow: 0 0 6px rgba(0,0,0,0.1);
            }
        }
        .tab.active{
            background-color: #FB993550;
            padding: 10px;
            margin: 0 10px;
            border-radius: 5px 5px 0 0;
            border: none;
            transform: scale(1.2);
            margin-bottom: 2.5px;
            h4{
                font-family: var(--secondary-font-family);
                font-weight: 600;
                font-size: 10px;
                color: #323232;
            }
        }
        select{
            margin-left: 10px;
        }
    }
    
}
table{
    display: none;
}
table.show{
    position: relative;
    z-index: 1;
    border-radius: 5px;
    border: 1px solid #32323211;
    background-color: #fff;
    height: 80vh;
    overflow-y: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 40px 1fr;
    padding: 20px 0;

    font-family: var(--secondary-font-family);
    color: #323232;
    font-size: 12px;
    overflow: hidden;
    width: 100%;
    thead{
        width: 100%;
        tr{
            display: grid;
            grid-template-columns: repeat(7, auto);
            grid-template-rows: 25px;
            border-bottom: 1px solid #32323213;
            padding-bottom: 6px;
            th{
                font-weight: 600;
            }
        }
    }
    tbody{
        overflow: auto;
        tr{
            display: grid;
            grid-template-columns: repeat(7, auto);
            grid-template-rows: 25px;
            height: 25px;
            &:hover{
                cursor: pointer;
                background-color: #32323212;
            }
            td{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                margin: 0;
            }
            P{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
.view{
    color: #323232;
    &:has(h4){
    display: flex;
    justify-content: center;
    align-items: center;
        h4{
            font-family: var(--secondary-font-family);
            font-weight: 400;
            color: #32323290;
            font-size: 12px;
        }
    }
    &:has(.account, .responder){
        display: unset;
        .account,.responder{
        display: grid;
        grid-template-rows: 60px 100px 1fr;
        grid-template-columns: 100%;
        width: 90%;
        margin: 20px 0;
        .top{
            display: grid;
            grid-template-columns: 20% 80%;
            grid-template-rows: 1fr;
            border: 1px solid #32323211;
            border-radius: 5px 5px 0 0;
            svg{
                align-self: center;
                justify-self: center;
            }
            span{
                align-self: center;
                font-family: var(--secondary-font-family);
                font-size: 12px;
            }
        }.middle{
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid #32323211;
            border-top: none;
            padding: 0 15px;
            div{
                display: flex;
                font-size: 12px;
                font-family: var(--secondary-font-family);
                font-weight: 600;
                padding: 2px;
                p{
                    margin-left: 5px;
                    font-weight: 400;
                }
            }
        }.bottom{
            display: grid;
            grid-template-rows: 25px 1fr;
            grid-template-columns: 1fr;

            border: 1px solid #32323211;
            border-top: none;
            border-radius: 0 0 5px 5px;
            h4{
                align-self: center;
                justify-self: center;
                font-size: 13px;
                font-family: var(--secondary-font-family);
                padding: 5px 0;
            }
            .statusCounts{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                span{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 20px 0;
                    h3{
                        display: flex;
                        justify-content: center;
                        font-size: 13px;
                        font-family: var(--primary-font-family);
                    }
                    h5{
                        font-family: var(--secondary-font-family);
                        font-weight: 400;
                    }
                }
            }
        }
    }}
    &:has(.request){
        display: unset;
        .request{
            padding: 15px;
            .top{
                border-top: 1px solid #32323211;
            }
            & > * {
                display: flex;
                flex-direction: column;
                justify-content: center;
                border: 1px solid #32323211;
                border-top: none;
                padding: 15px;
            div{
                display: flex;
                font-size: 12px;
                font-family: var(--secondary-font-family);
                font-weight: 600;
                padding: 2px;
                p{
                    margin-left: 5px;
                    font-weight: 400;
                }
            }
            }
        }
    }
}

.settings{
    grid-area: dashboard;
    font-family: var(--secondary-font-family);
    color: #323232;
    padding: 30px;
    form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        height: 80%;
        label{
            font-size: 14px;
        }
        input{
            height: 30px;
            width: 250px;
            margin-left: 20px;
            border: 1px solid #32323211;
            border-radius: 5px;
            padding: 0 10px;
            font-size: 12px;
            color: #323232;
        }
        .btn{
            border: 1px solid #32323211;
            padding: 10px 15px;
            border-radius: 5px;
            background-color: #FB993550;
            &:hover{
                box-shadow: 0 0 6px rgba(0,0,0,0.1);
            }

        }
    }
}

.message{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    height: 35px;
    width: fit-content;
    padding: 5px 15px;
    margin: 5px 30px;
    border-radius: 5px;
    background-color: #65aad8;
    color: #fff;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    p{
        font-family: var(--secondary-font-family);
        font-size: 14px;
        color: #fff;
        margin-right: 10px;
    }
}

.datepicker{
    height: 30px;
    width: 240px;
    border: 1px solid #32323250;
    padding: 0 10px;
}

.startDate{
    height: 30px;
    width: 150px;
    padding: 0 15px;
    border-radius: 3px;
    border: 1px solid #32323230;
    
    &:focus{
        outline: none;
    }
}

.endDate{
    height: 30px;
    width: 150px;
    padding: 0 15px;
    border-radius: 3px;
    border: 1px solid #32323230;
    &:focus{
        outline: none;
    } 
}

.filterDate{
    border: none;
    background-color: #fedfc0;
    padding: 7px 15px;
    border-radius: 3px;
    border: 1px solid #32323211;
    &:hover{
        cursor: pointer;
    }

}

// MAIL CONTENT VIEW
.emailContainer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 17% 79%;
    nav{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 3%;
    }
    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 20%;
        }
        .body{
            font-family: 'Poppins', sans-serif;
        }
    }
}

// RESTORATION ACCOUNT VIEW
.restore-account-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    
    font-family: var(--primary-font-family);
    i{
        font-weight: 500;
    }
}